*{
	box-sizing: border-box;

}



.container{
	max-width: 1200px;
	margin: auto;
	box-sizing: border-box;
	padding: 30px;
}
nav .menu{
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 10px;
	float: right;
	box-sizing: border-box;

}
.menu li{
	display: inline-block;
	font-family: "raleway";
	font-size: 10px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color:black;
}

/*************fondo*****************/

.fondo{
	background-image: url(imagenes/indexbanner-bg3.jpg);
	background-position: center;
	height: 608px;
}

.articulo{
	max-width: 700px;
	margin: auto;
	background: white;
	box-sizing: border-box;
	padding: 30px;
	background: none;
	color : white;
}
.articulo h2{
	font-size: 40px;
	position: relative;
	box-sizing: border-box;
	padding-top: 156px;
}
.articulo p{
	margin-top: 24px;
}
.buscador{
	padding-left: 500px;
	padding-top: 253px;
	
}
/**********ICONOS***********/

.caja-iconos{

}

.icono{
	display: inline-block;
	text-align: center;
}

.titulo-iconos{
	font-family: Raleway;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;

}

.parrafo-iconos{
    font-family: Raleway;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
}
/**********/

.titulo-celular{
	text-align: center;
	padding-top: 40px;
}
.titulo-celular h2{
	padding-top: 20px;
	font-size: 40px;
	font-family: Raleway;
	font-weight: 500px;
}
.titulo-celular p{
	padding-top: 20px;
    font-size: 18px;
    font-family: Raleway;
	font-weight: 300px;
}

/****************CAJAS*************/
.primer-article{
	 padding-top: 100px;
}

.primer-caja{
	width: 380px;
	height: 430px;
}

.icono-izquierda{
	float: right;
}

.primer-caja article h4{
	padding-top: 16px;
    text-align: right;
    padding-right: 59px;
}

.primer-caja article p{
	text-align: right;
    padding-top: 40px;
    padding-right: 59px;
}
.subtitulos{
	font-family: Raleway;
	font-size: 15px;
	text-transform: uppercase;
}

.segundo-article{
	padding-top: 40px;
}
.tercer-article{
	padding-top: 40px;
}

.segunda-caja{
	width: 380px;
	height: 430px;
	background: red;
	display: inline-block;
}

/*investigar vertical align solo funciona con display
inlin-block*/